<h1>Crééz votre cocktail</h1>

<div class="oli-div">

  <div class="card-trip">

    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>

  </div>

</div>

